<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCS_AMI_Agregator"
           connectionString="server=DESKTOP-A7G53TE\STRAHINJASQL; database=AMI_Agregator; integrated security=SSPI; MultipleActiveResultSets=True;"
           providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>